absl-py
annotated-doc
annotated-types
anyio
astunparse==1.6.3
brotlicffi
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
email-validator
fastapi
fastapi-cli
flatbuffers
fonttools
gast
google-pasta
grpcio
h11
h5py
httpcore
httptools
httpx
idna
Jinja2
joblib
keras
kiwisolver
markdown-it-py
MarkupSafe
matplotlib==3.10.9
mdurl
mkl-service==2.5.2
mkl_fft
mkl_random
ml_dtypes
mpi4py
namex
narwhals
numpy
opt_einsum
optree
packaging==26.0
pandas
pillow
protobuf
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
rich
rich-toolkit
scikit-learn
scipy
seaborn
setuptools==82.0.1
shellingham
six
starlette
tensorflow==2.21.0
termcolor
threadpoolctl
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
wheel==0.47.0
win_inet_pton
wrapt
